@model BlogCore.Models.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
    IEnumerable<Slider> sliders = Model.Sliders.Where(a => a.State);
}


@if (sliders.Count() > 0)
{
    <div id="carouselExampleDark" class="carousel carousel-dark slide mt-3" data-bs-ride="carousel">
        @*    <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>*@
        <div class="carousel-inner">

            @{

                int cont = 0;

                foreach (var item in sliders)
                {
                    var dinamicItem = cont++ == 0 ? "active" : "item";

                    <div class="carousel-item @dinamicItem" data-bs-interval="2000">
                        <img src="@item.ImageUrl" class="d-block w-100">
                        <h5 class="bg-dark text-white py-1 text-center">@item.Name</h5>
                    </div>
                }

            }


        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
}

